<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>  
  <% if enhanced_cart.size > 0 %>
    <%= render 'cart_has_items' %>    
  <% else %>
  <div class="alert alert-warning" role="alert">
    <h2>There doesn't seem to be anything in your cart at this time 😞</h2>
    <span>Perhaps you might enjoy taking another <a href="/">look around?</a></span>
  </div>
  <% end %>

</section>