<div class="dashboard">
  <div class="container">
    <h3>
      About Us
      <small class="text-muted">who is Jungle?</small>
    </h3>
    <div class="row mt-4">
      <div class="col-md-12">
      <h4>
        That... is an excellent question!
      </h4>
      <blockquote>
        "Where did we come from? Why are we named Jungle? Does it even matter?"
      </blockquote>
      <p>
        The fact of the matter is that no one is 100% sure. We checked. We asked around.<br/>
        It's not outside the realm of possibility that our founder named this store as he did just because one day he wanted to say... "Welcome to the Jungle!"
      </p>
      <h4>
        So, there you have it. Welcome to the Jungle!
      </h4>
      <p>
        We hope you can find what you came looking here for, and if you don't... well... <em>uhhh</em> try wishing really hard for it.<br/>
        Maybe one day we'll get to it. The student iterating on it might even about a <em>Send Email</em> link one day, maybe an entire page.<br/>
        But not for now.
      </p>
      </div>      
      </div>
    </div>
  </div>
</div>